/* You can add global styles to this file, and also import other style files */
.acd-bold {
  font-weight: 500;
}

.acd-text-secondary {
  color: rgb(125, 133, 152);
}

.z-index-1 {
  z-index: 1;
}
/* You can add global styles to this file, and also import other style files */
